.wrapper {
    width: 100%;
    max-width: 736px;
    padding: 16px;
    margin-top: 16px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 16px;
}

.notificationHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.unreadWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.unreadMsg {
    width: 20px;
    padding: 3px;
    color: hsl(0, 0%, 100%);
    background-color: hsl(219, 85%, 26%);
    border-radius: 5px;
    margin-left: 8px;
    font-weight: 800;
    text-align: center;
}

.title {
    font-size: 24px;
}

.markAsRead {
    color: hsl(219, 14%, 63%);
    cursor: pointer;
    font-weight: 500;
}

.markAsRead:hover {
    color: hsl(219, 85%, 26%);
}

@media (max-width: 480px) {
    .wrapper {
        width: inherit;
        margin: 0;
        border-radius: 0;
    }

    .title {
        font-size: 16px;
    }

    .markAsRead {
        font-size: 12px;
    }
  }