.notificationWrapper {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: hsl(210, 60%, 98%);
}

.notificationWrapper.isRead {
    background-color: hsl(0, 0%, 100%);
}

.avatar {
    width: 48px;
    padding: 10px;
    align-self: flex-start;
}

.actionInfoWrapper {
    position: relative;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.info {
    margin-bottom: 5px;
    display: grid;
    align-items: center;
}

.author {
    font-weight: bold;
    margin-right: 5px;
    cursor: pointer;
}

.author:hover, .reactType:hover, .groupType:hover {
    color: hsl(219, 85%, 26%);
}

.action {
    font-family: 'Plus Jakarta Sans';
    font-weight: 500;
    font-size: 16px;
    color:  hsl(219, 14%, 63%);
    margin-right: 5px;
}

.reactType {
    font-weight: 800;
    color:  hsl(219, 14%, 63%);
    cursor: pointer;
}

.groupType {
    font-weight: 800;
    color:    hsl(219, 85%, 26%);
    cursor: pointer;
}

.timeFromNow {
    margin-top: 5px;
    color:  hsl(219, 14%, 63%);
}

.unreadMarker {
    width: 8px;
    height: 8px;
    margin-left: 4px;
    background-color: hsl(1, 90%, 64%);
    border-radius: 50%;
}

.messageType {
    padding: 16px;
    margin-top: 10px;
    font-weight: 500;
    background-color: hsl(0, 0%, 100%);
    border: 1px solid hsl(205, 33%, 90%);
    border-radius: 5px;
    color: hsl(219, 14%, 63%);
    cursor: pointer;
}

.messageType:hover {
    background-color: hsl(211, 68%, 94%);
}

.commentType {
    margin-left: auto;
    cursor: pointer;
}

.postImg {
    width: 50%;
}

@media (max-width: 480px) {
.notificationWrapper {
    font-size: 14px;
}
}