body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  font-family: 'Plus Jakarta Sans', sans-serif;
  background-color:  hsl(210, 60%, 98%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: local('Plus Jakarta Sans'), url(../../assets/fonts/PlusJakartaSans-VariableFont_wght.ttf) format('woff');
}

main {
  margin: 0;
}

@media (max-width: 480px) {
  body {
      margin: 0;
      place-items: initial;
      background-color: #fff;
  }
}
